# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
#Let's import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
from selenium.webdriver.common.by import By

In [4]:
url='https://www.naukri.com/'
driver.get(url)

In [5]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [6]:
#write on search bar
search_job.send_keys("Data Analyst")

In [7]:
search_locn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [8]:
#Finding web element for job location bar
search_locn.send_keys("Banglore")

In [9]:
#clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [10]:
search_btn.click()

# Extracting job titles

In [11]:
#Let's extract all web elements having job titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
title_tags

[<selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="e130a846-aae3-47c3-907d-019cb0a4209b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="12bd39dc-2dc7-432c-8067-537848afd959")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="6aa49be8-effe-491d-810f-6592c3267a3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="f8e9c1e5-ad39-4462-ae2c-b96bf4f72730")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="ad57c05e-be68-4112-b00a-e0945651ff6f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="9b884f37-530c-47fd-8278-2307c58f3f3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="4ce9ab3a-3e95-456d-a348-a1b58ac7d822")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="f97e3a7e-e334-4960-8e10-b08d1b0dd5c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="d9ef474b-4e16-454b-8b8a-06875a38456d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="9522c489-f507-4f0b-9e1a-48d2d8307fe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="4e5807ab-7aaf-486c-afac-a8972df67c39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="5b6225e0-c582-4e95-bf29-95aa3a160a24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="6262ece0-3a3e-4e11-a589-2ea7e040615e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="26ca7e50-4943-4cc3-b459-7b632450e5f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="77dc58e9-8e6e-4784-86fb-c08ee1be9f1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="6e68fd5c-c849-4455-8eb3-3100c100809b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="94cbc572-5483-47bd-a5f2-72383d3a6553")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="c46da616-de3b-4c76-a118-9d2a251bee2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="5889ba0e-31cd-40d8-af41-0791150855ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="940abfa2e1ece7dcb1d9317803451ef0", element="59fb7dc1-e73b-40f6-8649-40025956256f")>]

In [12]:
len(title_tags)

20

In [13]:
#Now the text of job title is inside the web elements extracted above 
# so we will run a for loop to iterate over the tags and will extract
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
    
    
len(job_titles)

20

In [14]:
job_titles

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst',
 'Data Analyst II',
 'Senior Data Analyst II',
 'Senior Data Management Analyst',
 'Happay - Data Analyst',
 'Data Analyst',
 'Data Analyst - CRM Platform',
 'Financial Data Analyst - FIG',
 'Lead Financial Data Analyst',
 'Financial Data Analyst - FIG',
 'Software Technical Expert - Data Analyst']

In [15]:
job_titles=job_titles[0:10]
job_titles

['Sr.Business Data Analyst',
 'Sr Data Analyst',
 'Senior Data Analysis Analyst',
 'Job opportunity For Data Analyst at Trellance - India',
 'Data Analyst',
 'Senior Data Analyst',
 'Associate Data Analyst',
 'Associate Data Analyst',
 'Data Analyst/Senior Data Analyst',
 'Financial Data Analyst']

# Extracting company names

In [16]:
#Let's extract all web elements having company names
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [17]:
#so we will run a for loop to iterate over the tags and will extract 

company_names=[]

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [18]:
company_names

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India',
 'Cerner',
 'Flipkart',
 'Wells Fargo',
 'Happay-Expense Management Solution for Businesses',
 'Kititan Co., Ltd',
 'Artech infosystem',
 "Moody's",
 "Moody's",
 "Moody's",
 'Schneider Electric']

In [19]:
company_names=company_names[0:10]
company_names

['Collabera',
 'Thomson Reuters',
 'Capco',
 'CURise Analytics Pvt. Ltd.',
 'Thomson Reuters',
 'KrazyBee',
 'Optum',
 'Optum',
 'Meesho',
 'Nuance India']

# Extracting Experience

In [20]:
#Let's extract all web elements having experience using parent tag
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [21]:
experience_required=[]

for i in exp_tags:
    experience_required.append(i.text)
len(experience_required)

20

In [22]:
experience_required

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '3-6 Yrs',
 '4-7 Yrs',
 '1-2 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '1-3 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '3-6 Yrs']

In [23]:
experience_required=experience_required[0:10]
experience_required

['6-11 Yrs',
 '5-8 Yrs',
 '7-12 Yrs',
 '0-2 Yrs',
 '2-3 Yrs',
 '3-6 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-6 Yrs',
 '3-8 Yrs']

# Extracting location

In [24]:
locn_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [25]:
Job_location=[]

for i in locn_tags:
    Job_location.append(i.text)
len(Job_location)

20

In [26]:
Job_location

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, New Delhi, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [27]:
Job_location=Job_location[0:10]
Job_location

['Bangalore/Bengaluru, karnataka\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru',
 'Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Old Madras Road)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [28]:
len(job_titles),len(company_names),len(experience_required),len(Job_location)

(10, 10, 10, 10)

In [30]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company_name']= company_names
jobs['Experience_required']=experience_required
jobs['Job_Location']=Job_location
jobs

,Job Title,Company_name,Experience_required,Job_Location
0,Sr.Business Data Analyst,Collabera,6-11 Yrs,"Bangalore/Bengaluru, karnataka\n(WFH during Co..."
1,Sr Data Analyst,Thomson Reuters,5-8 Yrs,Bangalore/Bengaluru
2,Senior Data Analysis Analyst,Capco,7-12 Yrs,"Pune, Chennai, Bangalore/Bengaluru"
3,Job opportunity For Data Analyst at Trellance ...,CURise Analytics Pvt. Ltd.,0-2 Yrs,"Ahmedabad, Bangalore/Bengaluru"
4,Data Analyst,Thomson Reuters,2-3 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst,KrazyBee,3-6 Yrs,Bangalore/Bengaluru(Old Madras Road)
6,Associate Data Analyst,Optum,2-7 Yrs,Bangalore/Bengaluru
7,Associate Data Analyst,Optum,1-4 Yrs,Bangalore/Bengaluru
8,Data Analyst/Senior Data Analyst,Meesho,3-6 Yrs,Bangalore/Bengaluru
9,Financial Data Analyst,Nuance India,3-8 Yrs,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [31]:
url='https://www.naukri.com/'
driver.get(url)

In [32]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [33]:
#write on search bar
search_job.send_keys("Data Scientist")

In [34]:
#finding web element for search location bar using relative xpath

search_locn=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_locn

In [35]:
#Finding web element for job location bar
search_locn.send_keys("Bangalore")

In [36]:
#clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [37]:
search_btn.click()

# Extracting job titles

In [39]:
#Let's extract all web elements having job titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [42]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
    
    
len(job_titles)

20

In [43]:
job_titles

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )',
 'Opportunity For Data Scientist - Female Candidates ONLY',
 'Senior Data Science Engineer',
 'Data Science - Engineering Manager',
 'Data Scientist',
 'Data Scientist- Assistant Manager/Manager',
 'EY GBS - Assistant Director - Data Science (10+ years), Bangalore',
 'Data Scientist',
 'Data Scientist, Personalization',
 'AWS Sagemaker',
 'Data Scientist']

In [44]:
job_titles=job_titles[0:10]
job_titles

['Data Scientist/ Senior Data Scientist',
 'Urgent Job Opening For AI Practitioner - Data Science at Wipro Holmes',
 'Dataiku Consultant',
 'Data Scientist',
 'Data & Analytics Tech - Informatica Cloud- Senior Associate',
 'Data Scientist: Advanced Analytics',
 'Research Scientist',
 'Data Science - Senior Data Scientist - Analytics',
 'Principal - Data Scientist',
 'Research and Development -AI/ML -(PhD )']

# Extracting company names

In [60]:
#Let's extract all web elements having company names
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

20

In [61]:
#so we will run a for loop to iterate over the tags and will extract 

company_names=[]

for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [62]:
company_names

['Fractal Analytics',
 'Wipro',
 'Wipro',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Paytm',
 'Schneider Electric',
 'EXL',
 'PayU',
 'Fractal Analytics',
 'Paytm',
 'UPL',
 'Genpact',
 'EYGBS',
 'IBM',
 'Walmart',
 'Wipro',
 'Wipro']

In [63]:
company_names=company_names[0:10]
company_names

['Fractal Analytics',
 'Wipro',
 'Wipro',
 'Applied Materials',
 'PwC',
 'IBM',
 'IBM',
 'Paytm',
 'Schneider Electric',
 'EXL']

# Extracting location

In [64]:
locn_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

20

In [65]:
location=[]

for i in locn_tags:
    location.append(i.text)
len(location)

20

In [51]:
location

['Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Gurgaon/Gurugram, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Noida, Mumbai',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru\n(WFH during Covid)']

In [66]:
location=location[0:10]
location

['Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, Chennai, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Kochi/Cochin, New Delhi, Coimbatore, Chennai, Pune, Mumbai, Hyderabad',
 'Bangalore/Bengaluru, Pune, Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Delhi / NCR']

In [67]:
len(job_titles),len(company_names),len(location)

(10, 10, 10)

In [68]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company Name']= company_names

jobs['Job Location']=location
jobs

,Job Title,Company Name,Job Location
0,Data Scientist/ Senior Data Scientist,Fractal Analytics,"Bangalore/Bengaluru, Pune, Gurgaon/Gurugram, C..."
1,Urgent Job Opening For AI Practitioner - Data ...,Wipro,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ..."
2,Dataiku Consultant,Wipro,"Bangalore/Bengaluru, Pune, Chennai"
3,Data Scientist,Applied Materials,Bangalore/Bengaluru
4,Data & Analytics Tech - Informatica Cloud- Sen...,PwC,Bangalore/Bengaluru
5,Data Scientist: Advanced Analytics,IBM,Bangalore/Bengaluru
6,Research Scientist,IBM,Bangalore/Bengaluru
7,Data Science - Senior Data Scientist - Analytics,Paytm,"Bangalore/Bengaluru, Noida"
8,Principal - Data Scientist,Schneider Electric,Bangalore/Bengaluru
9,Research and Development -AI/ML -(PhD ),EXL,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [70]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [71]:
driver=webdriver.Chrome('chromedriver.exe')

In [72]:
from selenium.webdriver.common.by import By

In [74]:
url='https://www.naukri.com/'
driver.get(url)

In [75]:
#finding web element for search job bar using id
search_job=driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job

In [76]:
#write on search bar
search_job.send_keys("Data Scientist")

In [77]:
#clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[3]/div/div/div[6]')
search_btn

In [78]:
search_btn.click()

In [79]:
salary_check=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[1]/label/i')

In [80]:
salary_check.click()

In [81]:
location_check=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/i')

In [82]:
location_check.click()

# Extracting job titles

In [83]:
#Let's extract all web elements having job titles
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')

len(title_tags)

9

In [84]:
#Now the text of job title is inside the web elements extracted above 
# so we will run a for loop to iterate over the tags and will extract
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
    
    
len(job_titles)

9

In [85]:
job_titles

['Data Scientist For Healthcare Product team',
 'Data Scientist For Healthcare Product team',
 'Hiring For Data Science Intern- DataTrained Education',
 'Knowledge/Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Science',
 'Data Science',
 'Data Scientist']

# Extracting company names

In [86]:
#Let's extract all web elements having company names
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
len(company_tags)

9

In [87]:
#so we will run a for loop to iterate over the tags and will extract 

company_names=[]

for i in company_tags:
    company_names.append(i.text)
len(company_names)

9

In [88]:
company_names

['8KMiles Software Services',
 '8KMiles Software Services',
 'DataTrained',
 'BOLD Technology Systems',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'Mount Talent Consulting Private Limited',
 'PRASU SOFTWARE SOLUTIONS PRIVATE LIMITED']

# Extracting Experience

In [89]:
#Let's extract all web elements having experience using parent tag
exp_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

9

In [90]:
experience=[]

for i in exp_tags:
    experience.append(i.text)
len(experience)

9

In [91]:
experience

['2-7 Yrs',
 '2-7 Yrs',
 '0-2 Yrs',
 '3-6 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '2-4 Yrs']

# Extracting location

In [92]:
locn_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(locn_tags)

9

In [93]:
location=[]

for i in locn_tags:
    location.append(i.text)
len(location)

9

In [94]:
location

['Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Chennai, Bangalore/Bengaluru',
 'Delhi / NCR, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Delhi / NCR',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Pune, Bangalore/Bengaluru',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram, Bangalore/Bengaluru, Greater Noida',
 'Gurgaon/Gurugram']

In [95]:
len(job_titles),len(company_names),len(experience),len(location)

(9, 9, 9, 9)

In [96]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company Name']= company_names
jobs['Experience required']=experience
jobs['Job Location']=location
jobs

,Job Title,Company Name,Experience required,Job Location
0,Data Scientist For Healthcare Product team,8KMiles Software Services,2-7 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
1,Data Scientist For Healthcare Product team,8KMiles Software Services,2-7 Yrs,"Delhi / NCR, Chennai, Bangalore/Bengaluru"
2,Hiring For Data Science Intern- DataTrained Ed...,DataTrained,0-2 Yrs,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga..."
3,Knowledge/Data Scientist,BOLD Technology Systems,3-6 Yrs,Delhi / NCR
4,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Delhi / NCR, Pune, Bangalore/Bengaluru"
5,Data Scientist,Mount Talent Consulting Private Limited,2-4 Yrs,"Delhi / NCR, Pune, Bangalore/Bengaluru"
6,Data Science,Mount Talent Consulting Private Limited,2-5 Yrs,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra..."
7,Data Science,Mount Talent Consulting Private Limited,2-5 Yrs,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra..."
8,Data Scientist,PRASU SOFTWARE SOLUTIONS PRIVATE LIMITED,2-4 Yrs,Gurgaon/Gurugram

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [135]:
driver=webdriver.Chrome('chromedriver.exe')

In [136]:
from selenium.webdriver.common.by import By

In [137]:
url='https://www.flipkart.com/'
driver.get(url)

In [138]:
#finding web element for search job bar using id
search_product=driver.find_element(By.CLASS_NAME,"_3704LK")
search_product

In [139]:
#write on search bar
search_product.send_keys("sunglasses")

In [140]:
#clicking using absolute xpath function
search_btn=driver.find_element(By.XPATH,'//*[@id="container"]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [142]:
search_btn.click()

# Extracting Brand Name

In [143]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

brand_tags

[<selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="defaf94d-477a-4f4a-8af5-e6c9b1a711ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="2e31ac1f-6327-413f-b7ee-205d713e3568")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="bd4c7547-8a38-40df-ab4a-a4738c5a2155")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="a2f827f2-6196-4e52-ac2f-743ec481063a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="0119e20b-38b2-4222-b87b-6e3ad44076ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="fc1b4ac3-8f76-4ebd-9d1d-67503e7ac19a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="0e90ba60-29f4-47cb-9c39-dfb6aca4c935")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="6eb3407d-841a-430f-b1f8-8bbedbd57fba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="f7008a5a-d9a5-4069-9d1b-e3ddf3a0bfdf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="efee845d-509f-4d5c-b489-ee2714101777")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="7c9f2b96-a1a0-4f4e-9c67-fee046658b6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="6283e94f-7202-4ddb-82b8-ed63b17cee28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="2f6deb22-70fe-4dc4-b03b-e1768009ac03")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="c42421bd-8c1f-444e-8377-52c63b8da68d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="5abfa2b5-00e9-4533-81bd-0a490ea6c2f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="6ae6f8bb-c313-40cf-b682-89a7d0d6130a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="6938bb12-c78f-4e8c-8267-2590f2e09905")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="d72dc87b-fa76-4db0-85f2-fd9b4414de4c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="f5523c84-3e5e-4b3a-bdde-2dc194876b40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="de1d661a-ac85-4651-9bdf-ac816c76376b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="df42696d-8b81-4c0d-b9b8-67d3695927fa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="16a8824b-28ec-4370-930f-15d8caaae3eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="616f36b9-9d40-4c5d-8ee5-1df3944aab6b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="159589ff-f2cf-4497-bad6-bbad5f151148")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="55c8ac1f-7d35-4278-a7af-2440bd424ff0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="887bf4bf-19e4-44ec-9696-2c413715b7dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="8c693b9e-5523-46cf-97eb-7dc95c408dbe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="7ac4d5e4-6c20-49b3-aadb-ba1c1f5141ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="a295e2cd-d442-428a-a602-f7490fc344b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="023220a7-4aa8-4ea4-bdcc-1ff7a0b622f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="aef6bab9-4d48-4e92-ba07-853f609395e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="f3c4fa4a-35fc-4b49-8e64-d2078f04ce98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="e9a8f94c-727b-46d3-8dea-e3b47cc01081")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="69580778-0031-4ff8-9c80-98cc2c1cf737")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="d47f5036-42cc-4ddc-9319-65f79d3ee850")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="ac5971bf-50fd-41d1-9aa5-a472da7a3c31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="853627ee-a3b3-41ae-a197-695a70e3b683")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="e9dc5e10-3b74-4b7b-b486-d51e330e9d25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="33880cc6-fee7-4b10-b1cb-bffb1ecdd722")>,
 <selenium.webdriver.remote.webelement.WebElement (session="183dc41fb5ad5f2131ea3ad3ff0890f8", element="bf2f011f-5a24-4fff-8e5a-75b5f7eb538e")>]

In [144]:
len(brand_tags)

40

In [145]:
brand_name1=[]
for i in brand_tags:
    brand_name1.append(i.text)
    
    
len(brand_name1)

40

In [146]:
brand_name1

['VINCENT CHASE',
 'ROYAL SON',
 'DAHAAZIL',
 'New Specs',
 'Fastrack',
 'SUNBEE',
 'Elligator',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'PIRASO',
 'SRPM',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'elegante',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Lee Topper',
 'GANSTA',
 'PIRASO',
 'PIRASO',
 'NuVew',
 'Ray-Ban',
 'Mi',
 'ROZZETTA CRAFT',
 'Fastrack',
 'povty',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'GANSTA',
 'Sewell',
 'SRPM',
 'Fastrack',
 'Ray-Ban']

In [147]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [148]:
next_button.click()

In [149]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [150]:
brand_name2=[]
for i in brand_tags:
    brand_name2.append(i.text)
    
    
len(brand_name2)

40

In [151]:
brand_name2

['kingsunglasses',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'SRPM',
 'kingsunglasses',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'AISLIN',
 'ROYAL SON',
 'ROYAL SON',
 'Arnette',
 'VINCENT CHASE',
 'Elligator',
 'Silver Kartz',
 'GANSTA',
 'PIRASO',
 'PHENOMENAL',
 'CRYSTAL CART',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Rich Club',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Elligator',
 'ROYAL SON',
 'Fastrack',
 'SRPM',
 'Fastrack',
 'Sewell',
 'Singco India',
 'ROZZETTA CRAFT',
 'New Specs',
 'Ray-Ban']

In [152]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button

In [153]:
next_button.click()

In [154]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
len(brand_tags)

40

In [155]:
brand_name3=[]
for i in brand_tags:
    brand_name3.append(i.text)
    
    
len(brand_name3)

40

In [156]:
brand_name3

['Singco India',
 'kingsunglasses',
 'kingsunglasses',
 'VINCENT CHASE',
 'New Specs',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROYAL SON',
 'agera',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Ray-Ban',
 'Lee Topper',
 'PHENOMENAL',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'New Specs',
 'VINCENT CHASE',
 'ROYAL SON',
 'VINCENT CHASE',
 'Urbanic',
 'VINCENT CHASE',
 'Ray-Ban',
 'Lee Topper',
 'VINCENT CHASE',
 'kingsunglasses',
 'VINCENT CHASE',
 'Mi',
 'kingsunglasses',
 'GANSTA',
 'ROYAL SON']

In [157]:
brand_name=brand_name1+brand_name2+brand_name3
brand_name

['VINCENT CHASE',
 'ROYAL SON',
 'DAHAAZIL',
 'New Specs',
 'Fastrack',
 'SUNBEE',
 'Elligator',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'PIRASO',
 'SRPM',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'elegante',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Lee Topper',
 'GANSTA',
 'PIRASO',
 'PIRASO',
 'NuVew',
 'Ray-Ban',
 'Mi',
 'ROZZETTA CRAFT',
 'Fastrack',
 'povty',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'GANSTA',
 'Sewell',
 'SRPM',
 'Fastrack',
 'Ray-Ban',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'SRPM',
 'kingsunglasses',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'AISLIN',
 'ROYAL SON',
 'ROYAL SON',
 'Arnette',
 'VINCENT CHASE',
 'Elligator',
 'Silver Kartz',
 'GANSTA',
 'PIRASO',
 'PHENOMENAL',
 'CRYSTAL CART',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Rich Club',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Elligator',
 'ROYAL SON',
 'Fastrack',
 'SRPM',
 'Fastrack',
 'Sewell',
 'Singco India',
 'ROZZETTA CRAFT',
 'New Specs',
 'Ray-Ban',
 'Singco India',
 'kingsunglasses',
 'kingsunglasses',
 'VINCENT CHASE',
 'New Specs',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROYAL SON',
 'agera',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Ray-Ban',
 'Lee Topper',
 'PHENOMENAL',
 'ROYAL SON',
 'ROYAL SON',
 'Fastrack',
 'New Specs',
 'VINCENT CHASE',
 'ROYAL SON',
 'VINCENT CHASE',
 'Urbanic',
 'VINCENT CHASE',
 'Ray-Ban',
 'Lee Topper',
 'VINCENT CHASE',
 'kingsunglasses',
 'VINCENT CHASE',
 'Mi',
 'kingsunglasses',
 'GANSTA',
 'ROYAL SON']

In [158]:
len(brand_name)

120

In [159]:
brand_name=brand_name[0:100]
brand_name

['VINCENT CHASE',
 'ROYAL SON',
 'DAHAAZIL',
 'New Specs',
 'Fastrack',
 'SUNBEE',
 'Elligator',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'PIRASO',
 'SRPM',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'PIRASO',
 'Lee Topper',
 'PIRASO',
 'elegante',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Lee Topper',
 'GANSTA',
 'PIRASO',
 'PIRASO',
 'NuVew',
 'Ray-Ban',
 'Mi',
 'ROZZETTA CRAFT',
 'Fastrack',
 'povty',
 'PIRASO',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'GANSTA',
 'Sewell',
 'SRPM',
 'Fastrack',
 'Ray-Ban',
 'kingsunglasses',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'SRPM',
 'kingsunglasses',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'AISLIN',
 'ROYAL SON',
 'ROYAL SON',
 'Arnette',
 'VINCENT CHASE',
 'Elligator',
 'Silver Kartz',
 'GANSTA',
 'PIRASO',
 'PHENOMENAL',
 'CRYSTAL CART',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Rich Club',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Elligator',
 'ROYAL SON',
 'Fastrack',
 'SRPM',
 'Fastrack',
 'Sewell',
 'Singco India',
 'ROZZETTA CRAFT',
 'New Specs',
 'Ray-Ban',
 'Singco India',
 'kingsunglasses',
 'kingsunglasses',
 'VINCENT CHASE',
 'New Specs',
 'VINCENT CHASE',
 'Fastrack',
 'ROYAL SON',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'ROYAL SON',
 'agera',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'Ray-Ban']

# Extracting Product Desription

In [160]:
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

len(product_tags)

40

In [162]:
product_description1=[]
for i in product_tags:
    product_description1.append(i.text)
    
    
len(product_description1)

40

In [163]:
product_description1

['by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Sports Sunglasses (62)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient Round Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Polarized, UV Protection Retro Square Sunglasses (62)']

In [164]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [165]:
next_button.click()

In [166]:
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

len(product_tags)

40

In [167]:
product_description2=[]
for i in product_tags:
    product_description2.append(i.text)
    
    
len(product_description2)

40

In [168]:
product_description2

['Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (55)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Night Vision, Riding Glasses Retro Square Sunglasses (5...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...']

In [169]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button

In [170]:
next_button.click()

In [171]:
product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')

len(product_tags)

40

In [172]:
product_description3=[]
for i in product_tags:
    product_description3.append(i.text)
    
    
len(product_description3)

40

In [173]:
product_description3

['UV Protection Round Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Oval Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Oval Sunglasses (49)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'by Lenskart UV Protection Wayfarer Sunglasses (51)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection Butterfly Sunglasses (60)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (46)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'Polarized Butterfly Sunglasses (Free Size)']

In [174]:
product_description=product_description1+product_description2+product_description3

In [175]:
len(product_description)

120

In [176]:
product_description=product_description[0:100]
product_description

['by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer, W...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Sports Sunglasses (62)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient Round Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'Polarized, UV Protection Retro Square Sunglasses (62)',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'Polarized, UV Protection Aviator Sunglasses (57)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Spectacle Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (55)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Polarized, Riding Glasses, Night Vision Sports Sunglass...',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'Mirrored Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Night Vision, Riding Glasses Retro Square Sunglasses (5...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer, Rectangular Sunglasse...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Oval Sunglasses (53)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Rectangular Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Oval Sunglasses (49)']

#  Extracting Price

In [177]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

len(price_tags)

40

In [178]:
price1=[]

for i in price_tags:
    price1.append(i.text)
len(price1)

40

In [179]:
price1

['₹749',
 '₹649',
 '₹177',
 '₹264',
 '₹639',
 '₹315',
 '₹259',
 '₹8,273',
 '₹224',
 '₹224',
 '₹283',
 '₹5,239',
 '₹195',
 '₹799',
 '₹224',
 '₹749',
 '₹639',
 '₹359',
 '₹299',
 '₹664',
 '₹229',
 '₹306',
 '₹474',
 '₹799',
 '₹226',
 '₹246',
 '₹291',
 '₹3,839',
 '₹359',
 '₹839',
 '₹331',
 '₹1,234',
 '₹265',
 '₹303',
 '₹719',
 '₹569',
 '₹279',
 '₹219',
 '₹283',
 '₹12,139']

In [180]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [181]:
next_button.click()

In [182]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

len(price_tags)

40

In [183]:
price2=[]

for i in price_tags:
    price2.append(i.text)
len(price2)

40

In [184]:
price2

['₹299',
 '₹1,039',
 '₹164',
 '₹314',
 '₹379',
 '₹219',
 '₹249',
 '₹1,533',
 '₹194',
 '₹246',
 '₹189',
 '₹975',
 '₹199',
 '₹719',
 '₹224',
 '₹1,533',
 '₹498',
 '₹379',
 '₹759',
 '₹759',
 '₹379',
 '₹320',
 '₹219',
 '₹379',
 '₹223',
 '₹749',
 '₹189',
 '₹616',
 '₹379',
 '₹749',
 '₹369',
 '₹664',
 '₹529',
 '₹379',
 '₹899',
 '₹499',
 '₹474',
 '₹379',
 '₹369',
 '₹233']

In [185]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button

In [186]:
next_button.click()

In [187]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')

len(price_tags)

40

In [188]:
price3=[]

for i in price_tags:
    price3.append(i.text)
len(price3)

40

In [189]:
price3

['₹369',
 '₹719',
 '₹598',
 '₹749',
 '₹268',
 '₹269',
 '₹289',
 '₹233',
 '₹379',
 '₹664',
 '₹329',
 '₹649',
 '₹269',
 '₹154',
 '₹759',
 '₹314',
 '₹899',
 '₹949',
 '₹599',
 '₹854',
 '₹699',
 '₹324',
 '₹498',
 '₹849',
 '₹217',
 '₹949',
 '₹664',
 '₹7,009',
 '₹735',
 '₹809',
 '₹639',
 '₹759',
 '₹245',
 '₹405',
 '₹664',
 '₹5,749',
 '₹849',
 '₹499',
 '₹214',
 '₹699']

In [190]:
price=price1+price2+price3

In [191]:
len(price)

120

In [192]:
price

['₹749',
 '₹649',
 '₹177',
 '₹264',
 '₹639',
 '₹315',
 '₹259',
 '₹8,273',
 '₹224',
 '₹224',
 '₹283',
 '₹5,239',
 '₹195',
 '₹799',
 '₹224',
 '₹749',
 '₹639',
 '₹359',
 '₹299',
 '₹664',
 '₹229',
 '₹306',
 '₹474',
 '₹799',
 '₹226',
 '₹246',
 '₹291',
 '₹3,839',
 '₹359',
 '₹839',
 '₹331',
 '₹1,234',
 '₹265',
 '₹303',
 '₹719',
 '₹569',
 '₹279',
 '₹219',
 '₹283',
 '₹12,139',
 '₹299',
 '₹1,039',
 '₹164',
 '₹314',
 '₹379',
 '₹219',
 '₹249',
 '₹1,533',
 '₹194',
 '₹246',
 '₹189',
 '₹975',
 '₹199',
 '₹719',
 '₹224',
 '₹1,533',
 '₹498',
 '₹379',
 '₹759',
 '₹759',
 '₹379',
 '₹320',
 '₹219',
 '₹379',
 '₹223',
 '₹749',
 '₹189',
 '₹616',
 '₹379',
 '₹749',
 '₹369',
 '₹664',
 '₹529',
 '₹379',
 '₹899',
 '₹499',
 '₹474',
 '₹379',
 '₹369',
 '₹233',
 '₹369',
 '₹719',
 '₹598',
 '₹749',
 '₹268',
 '₹269',
 '₹289',
 '₹233',
 '₹379',
 '₹664',
 '₹329',
 '₹649',
 '₹269',
 '₹154',
 '₹759',
 '₹314',
 '₹899',
 '₹949',
 '₹599',
 '₹854',
 '₹699',
 '₹324',
 '₹498',
 '₹849',
 '₹217',
 '₹949',
 '₹664',
 '₹7,009',
 '₹735',
 '₹809',
 '₹639',
 '₹759',
 '₹245',
 '₹405',
 '₹664',
 '₹5,749',
 '₹849',
 '₹499',
 '₹214',
 '₹699']

In [193]:
price=price[0:100]
price

['₹749',
 '₹649',
 '₹177',
 '₹264',
 '₹639',
 '₹315',
 '₹259',
 '₹8,273',
 '₹224',
 '₹224',
 '₹283',
 '₹5,239',
 '₹195',
 '₹799',
 '₹224',
 '₹749',
 '₹639',
 '₹359',
 '₹299',
 '₹664',
 '₹229',
 '₹306',
 '₹474',
 '₹799',
 '₹226',
 '₹246',
 '₹291',
 '₹3,839',
 '₹359',
 '₹839',
 '₹331',
 '₹1,234',
 '₹265',
 '₹303',
 '₹719',
 '₹569',
 '₹279',
 '₹219',
 '₹283',
 '₹12,139',
 '₹299',
 '₹1,039',
 '₹164',
 '₹314',
 '₹379',
 '₹219',
 '₹249',
 '₹1,533',
 '₹194',
 '₹246',
 '₹189',
 '₹975',
 '₹199',
 '₹719',
 '₹224',
 '₹1,533',
 '₹498',
 '₹379',
 '₹759',
 '₹759',
 '₹379',
 '₹320',
 '₹219',
 '₹379',
 '₹223',
 '₹749',
 '₹189',
 '₹616',
 '₹379',
 '₹749',
 '₹369',
 '₹664',
 '₹529',
 '₹379',
 '₹899',
 '₹499',
 '₹474',
 '₹379',
 '₹369',
 '₹233',
 '₹369',
 '₹719',
 '₹598',
 '₹749',
 '₹268',
 '₹269',
 '₹289',
 '₹233',
 '₹379',
 '₹664',
 '₹329',
 '₹649',
 '₹269',
 '₹154',
 '₹759',
 '₹314',
 '₹899',
 '₹949',
 '₹599',
 '₹854']

# Extracting Discount

In [194]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [195]:
discount1=[]

for i in discount_tags:
    discount1.append(i.text)
len(discount1)

40

In [196]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [197]:
next_button.click()

In [198]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [199]:
discount2=[]

for i in discount_tags:
    discount2.append(i.text)
len(discount2)

40

In [200]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button

In [201]:
next_button.click()

In [202]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [203]:
discount3=[]

for i in discount_tags:
    discount3.append(i.text)
len(discount3)

40

In [204]:
discount=discount1+discount2+discount3

In [205]:
len(discount)

120

In [206]:
discount=discount[0:100]
discount

['62% off',
 '62% off',
 '82% off',
 '89% off',
 '20% off',
 '80% off',
 '87% off',
 '81% off',
 '78% off',
 '85% off',
 '82% off',
 '69% off',
 '88% off',
 '20% off',
 '85% off',
 '66% off',
 '20% off',
 '86% off',
 '88% off',
 '78% off',
 '82% off',
 '76% off',
 '88% off',
 '87% off',
 '85% off',
 '84% off',
 '76% off',
 '68% off',
 '86% off',
 '30% off',
 '79% off',
 '30% off',
 '20% off',
 '78% off',
 '83% off',
 '76% off',
 '82% off',
 '78% off',
 '81% off',
 '67% off',
 '78% off',
 '20% off',
 '86% off',
 '84% off',
 '74% off',
 '78% off',
 '20% off',
 '62% off',
 '84% off',
 '80% off',
 '75% off',
 '81% off',
 '68% off',
 '80% off',
 '81% off',
 '69% off',
 '15% off',
 '74% off',
 '67% off',
 '66% off',
 '85% off',
 '74% off',
 '62% off',
 '78% off',
 '78% off',
 '78% off',
 '86% off',
 '62% off',
 '74% off',
 '62% off',
 '81% off',
 '52% off',
 '74% off',
 '81% off',
 '70% off',
 '68% off',
 '74% off',
 '78% off',
 '10% off',
 '30% off',
 '81% off',
 '20% off',
 '80% off',
 '62% off',
 '79% off',
 '85% off',
 '85% off',
 '84% off',
 '81% off',
 '79% off',
 '79% off',
 '57% off',
 '82% off',
 '89% off',
 '15% off',
 '10% off',
 '10% off',
 '52% off',
 '25% off',
 '62% off']

In [207]:
len(brand_name),len(product_description),len(price),len(discount)

(100, 100, 100, 100)

In [209]:
product=pd.DataFrame()
product['Brand_Name']=brand_name
product['Product_Description']= product_description
product['Price']=price
product['Discount']=discount
product

,Brand_Name,Product_Description,Price,Discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...",₹749,62% off
1,ROYAL SON,"Polarized, UV Protection Aviator Sunglasses (57)",₹649,62% off
2,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹177,82% off
3,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹264,89% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
...,...,...,...,...
95,agera,"Polarized, UV Protection Rectangular Sunglasse...",₹314,10% off
96,ROYAL SON,UV Protection Round Sunglasses (Free Size),₹899,10% off
97,PIRASO,"by Lenskart Polarized, UV Protection Cat-eye S...",₹949,52% off
98,Fastrack,"UV Protection, Gradient Butterfly Sunglasses (62)",₹599,25% off
99,Ray-Ban,UV Protection Oval Sunglasses (49),₹854,62% off

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [226]:
driver=webdriver.Chrome('chromedriver.exe')

In [227]:
from selenium.webdriver.common.by import By

In [228]:
url='https://www.flipkart.com/'
driver.get(url)

In [229]:
#finding web element for search job bar using id
search_iphone=driver.find_element(By.CLASS_NAME,"_3704LK")
search_job

In [230]:
#write on search bar
search_iphone.send_keys("iphone 11")

In [231]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [233]:
search_btn.click()

# Extracting Ratings

In [239]:
ratings_tags=driver.find_elements(By.XPATH,'//a[@class="s1Q9rs _2qfgz2"]')

len(ratings_tags)

0

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

As shown in the below image, you have to scrape the tick marked attributes.

In [3]:
driver=webdriver.Chrome('chromedriver.exe')

In [4]:
from selenium.webdriver.common.by import By

In [5]:
url='https://www.flipkart.com/'
driver.get(url)

In [6]:
search_product=driver.find_element(By.CLASS_NAME,"_3704LK")
search_product

In [7]:
#write on search bar
search_product.send_keys("sneakers")

In [8]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [9]:
search_btn.click()

# Extracting Brand Name

In [13]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

len(title_tags)

40

In [14]:
brand_names1=[]
for i in title_tags:
    brand_names1.append(i.text)
    
    
len(brand_names1)

40

In [15]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [16]:
next_button.click()

In [17]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

len(title_tags)

40

In [18]:
brand_names2=[]
for i in title_tags:
    brand_names2.append(i.text)
    
    
len(brand_names2)

40

In [19]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button

In [20]:
next_button.click()

In [21]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')

len(title_tags)

40

In [22]:
brand_names3=[]
for i in title_tags:
    brand_names3.append(i.text)
    
    
len(brand_names3)

40

In [23]:
brand_names=brand_names1+brand_names2+brand_names3

In [24]:
len(brand_names)

120

In [25]:
brand_names=brand_names[0:100]
len(brand_names)

100

In [26]:
brand_names

['World Wear Footwear',
 'luxury fashion',
 'WOODLAND',
 'BRUTON',
 'SFR',
 'BRUTON',
 'Labbin',
 'ZF - ALFIYA',
 'URBANBOX',
 'Magnolia',
 'aadi',
 'BRUTON',
 'BIRDE',
 'PUMA',
 'BIRDE',
 'Scull Wings',
 'Chevit',
 'PUMA',
 'KWIK FIT',
 'luxury fashion',
 'ONECENTRE',
 'HOTSTYLE',
 'corsac',
 'luxury fashion',
 'ASTEROID',
 'aadi',
 'CLYMB',
 'kardam&sons',
 'BRUTON',
 'Noztile',
 'BIRDE',
 'BIRDE',
 'SCATCHITE',
 'Kraasa',
 'PUMA',
 'World Wear Footwear',
 'Kraasa',
 'Kzaara',
 'PEXLO',
 'STRANGER BROTHERS',
 'Kraasa',
 'Layasa',
 'PUMA',
 'D-SNEAKERZ',
 'Robbie jones',
 'BRUTON',
 'BRUTON',
 'Rzisbo',
 'KNIGHT WALKERS',
 'ASTEROID',
 'Dizzler',
 'DUKE',
 'Magnolia',
 'WHITE WALKERS',
 'AMICO',
 'aadi',
 'Numenzo',
 'Airland',
 'Shoes Bank',
 'SPARX',
 'Airland',
 'Aragats',
 'Chevit',
 'Stinson',
 'LE GREEM',
 'Numenzo',
 'luxury fashion',
 'BIRDE',
 'India hub',
 'BIRDE',
 'Eiffel',
 'BRUTON',
 'Layasa',
 'aadi',
 'ROCKFIELD',
 'U.S. POLO ASSN.',
 'Magnolia',
 'T-ROCK',
 'PUMA',
 'WHITE WALKERS',
 'URBANBOX',
 'WHITE WALKERS',
 'Roadster',
 'BRUTON',
 'PUMA',
 'Nobelite',
 'PEXLO',
 'Robbie jones',
 'Xtoon',
 'aadi',
 'corsac',
 'PUMA',
 'luxury fashion',
 'Chevit',
 'ZF Klub',
 'RapidBox',
 'PUMA',
 'DUNKASTON',
 'PUMA',
 'SPARX']

# Extracting Product Description

In [27]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
len(description_tags)

6

In [29]:
description11=[]
for i in description_tags:
    description11.append(i.text)
    
    
len(description11)

6

In [30]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(description_tags)

34

In [31]:
description12=[]
for i in description_tags:
    description12.append(i.text)
    
    
len(description12)

34

In [32]:
description1=description11+description12
len(description1)

40

In [33]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [34]:
next_button.click()

In [35]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(description_tags)

33

In [36]:
description21=[]
for i in description_tags:
    description21.append(i.text)
    
    
len(description21)

33

In [37]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
len(description_tags)

7

In [38]:
description22=[]
for i in description_tags:
    description22.append(i.text)
    
    
len(description22)

7

In [39]:
description2=description21+description22
len(description2)

40

In [40]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button

In [41]:
next_button.click()

In [42]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
len(description_tags)

29

In [43]:
description31=[]
for i in description_tags:
    description31.append(i.text)
    
    
len(description31)

29

In [44]:
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
len(description_tags)

11

In [45]:
description32=[]
for i in description_tags:
    description32.append(i.text)
    
    
len(description32)

11

In [46]:
description3=description31+description32
len(description3)

40

In [47]:
description=description1+description2+description3
len(description)

120

In [48]:
description=description[0:100]
len(description)

100

# Extracting Price

In [50]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags)

40

In [51]:
price1=[]
for i in price_tags:
    price1.append(i.text)
    
    
len(price1)

40

In [52]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [53]:
next_button.click()

In [54]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags)

40

In [55]:
price2=[]
for i in price_tags:
    price2.append(i.text)
    
    
len(price2)

40

In [56]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
next_button

In [57]:
next_button.click()

In [58]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
len(price_tags)

40

In [59]:
price3=[]
for i in price_tags:
    price3.append(i.text)
    
    
len(price3)

40

In [60]:
price=price1+price2+price3
len(price)

120

In [61]:
price=price[0:100]
len(price)

100

# Extracting Discount

In [62]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [63]:
discount1=[]
for i in discount_tags:
    discount1.append(i.text)
    
    
len(discount1)

40

In [64]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [66]:
next_button.click()

In [67]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [68]:
discount2=[]
for i in discount_tags:
    discount2.append(i.text)
    
    
len(discount2)

40

In [69]:
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button

In [70]:
next_button.click()

In [72]:
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
len(discount_tags)

40

In [73]:
discount3=[]
for i in discount_tags:
    discount3.append(i.text)
    
    
len(discount3)

40

In [74]:
discount=discount1+discount2+discount3
len(discount)

120

In [75]:
discount=discount[0:100]
len(discount)

100

In [76]:
len(brand_names),len(description),len(price),len(discount)

(100, 100, 100, 100)

In [77]:
product=pd.DataFrame()
product['Brand Name']=brand_names
product['Description']= description
product['Price']=price
product['Discount']=discount
product

,Brand Name,Description,Price,Discount
0,World Wear Footwear,"Trendy Stylish Comfortable & Lightweight, Casu...",₹398,50% off
1,luxury fashion,Sneakers Sneakers For Men,₹399,62% off
2,WOODLAND,White & Black Sneakers For Men Casual Shoes Fo...,"₹2,096",30% off
3,BRUTON,Exclusive Affordable Collection of Trendy & St...,₹284,78% off
4,SFR,White & Black Sneakers For Men Casual Shoes Fo...,₹289,71% off
...,...,...,...,...
95,RapidBox,Casual Sneakers White Shoes For Men Sneakers F...,₹399,60% off
96,PUMA,"White casual, gym,training & Running sneakers ...","₹1,135",75% off
97,DUNKASTON,Sneakers For Men,₹592,60% off
98,PUMA,STYLISH MENS BLACK TRENDY SNEAKER FOR MENS Sne...,₹398,87% off
99,SPARX,Casual Sneakers For Men,₹399,20% off

# Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image

In [78]:
driver=webdriver.Chrome('chromedriver.exe')

In [79]:
from selenium.webdriver.common.by import By

In [80]:
url='https://www.myntra.com/shoes'
driver.get(url)

# *************************UNABLE TO INSPECT*******************************

# Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [90]:
driver=webdriver.Chrome('chromedriver.exe')

In [91]:
from selenium.webdriver.common.by import By

In [92]:
url=' https://www.amazon.in/'
driver.get(url)

In [99]:
search_product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_product

In [100]:
#write on search bar
search_product.send_keys("Laptop")

In [101]:
search_btn=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [102]:
search_btn.click()

In [103]:
cpu_check=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div/label/i')

In [104]:
cpu_check.click()

In [106]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')

len(title_tags)

30

In [107]:
titles=[]
for i in title_tags:
    titles.append(i.text)
    
    
len(titles)

30

In [108]:
titles=titles[0:10]
len(titles)

10

In [109]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')

len(rating_tags)

27

In [111]:
rating=[]
for i in rating_tags:
    rating.append(i.text)
    
    
len(rating)

27

In [112]:
rating=rating[0:10]
len(rating)

10

In [113]:
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')

len(price_tags)

30

In [114]:
price=[]
for i in price_tags:
    price.append(i.text)
    
    
len(price)

30

In [115]:
price=price[0:10]
len(price)

10

In [116]:
len(price),len(rating),len(titles)

(10, 10, 10)

In [117]:
product=pd.DataFrame()
product['Title']=titles
product['Rating']= rating
product['Price']=price

product

                                               Title Rating   Price
0  Lenovo IdeaPad Slim 5 Pro Intel Core i7 11th G...         75,990
1  Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms)...         99,990
2  Hp Pavilion 15 12Th Gen Intel Core I7 16Gb Sdr...         87,900
3  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...         89,990
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....         86,990
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...         79,990
6  LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...         85,499
7  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...         82,990
8  HP Envy 11th Gen Intel Evo Core i7 14 inch(35....         99,350
9  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...         57,890

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [118]:
driver=webdriver.Chrome('chromedriver.exe')

In [119]:
from selenium.webdriver.common.by import By

In [120]:
url=' https://www.ambitionbox.com/'
driver.get(url)

In [121]:
job_option=driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[6]")
job_option

In [122]:
job_option.click()

In [123]:
job_search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
job_search

In [124]:
job_search.send_keys("Data Scientist")

In [126]:
search_btn=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_btn

In [127]:
search_btn.click()

In [128]:
location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
location

In [129]:
location.click()

In [130]:
search_location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_location

In [131]:
search_location.send_keys("Noida")

In [132]:
check_location=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
check_location

In [133]:
check_location.click()

# Extracting company name

In [134]:
title_tags=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')

len(title_tags)

10

In [135]:
company_name=[]
for i in title_tags:
    company_name.append(i.text)
    
    
len(company_name)

10

# Extracting posting

In [136]:
posted_tags=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')

len(posted_tags)

20

In [137]:
posted=[]
for i in posted_tags:
    posted.append(i.text)
    
    
len(posted)

20

In [138]:
posted=posted[0:10]
len(posted)

10

# Extracting rating

In [139]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="body-small"]')

len(rating_tags)

10

In [140]:
rating=[]
for i in rating_tags:
    rating.append(i.text)
    
    
len(rating)

10

In [141]:
df=pd.DataFrame()
df['company Name']=company_name
df['posted']= posted
df['rating']=rating

df

                                     company Name          posted rating
0  Optum Global Solutions (India) Private Limited          8d ago    4.1
1                   GENPACT India Private Limited  via naukri.com    4.0
2                         Dew Solutions Pvt. Ltd.         15d ago    4.3
3                             InfoEdge India Ltd.  via naukri.com    3.9
4                         Info Edge India Limited          6d ago    3.9
5                         Info Edge India Limited  via hirist.com    3.9
6                                   Latent bridge         13d ago    4.5
7                                       Careerera  via hirist.com    3.8
8                            Careernet Consulting         14d ago    3.9
9                     Acidaes Solutions Pvt. Ltd.  via hirist.com    3.8

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [142]:
driver=webdriver.Chrome('chromedriver.exe')

In [143]:
from selenium.webdriver.common.by import By

In [144]:
url=' https://www.ambitionbox.com/'
driver.get(url)

In [145]:
salaries=driver.find_element(By.XPATH,"/html/body/div[1]/nav/nav/a[4]")
salaries

In [146]:
salaries.click()

In [147]:
job_profile=driver.find_element(By.XPATH,"/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
job_profile

In [149]:
job_profile.send_keys("Data Scientist")

# Scraping company name

In [151]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')

len(title_tags)

25

In [152]:
company_name=[]
for i in title_tags:
    company_name.append(i.text)
    
    
len(company_name)

25

In [153]:
company_name=company_name[0:10]
len(company_name)

10

# Scraping total salary record

In [154]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')

len(title_tags)

10

In [155]:
salary_record=[]
for i in title_tags:
    salary_record.append(i.text)
    
    
len(salary_record)

10

# Scrapin Experience required

In [157]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')

len(title_tags)

10

In [158]:
exp_req=[]
for i in title_tags:
    exp_req.append(i.text)
    
    
len(exp_req)

10

# Scraping minimum salary

In [159]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')

len(title_tags)

20

In [160]:
min_sal=[]
for i in title_tags:
    min_sal.append(i.text)
    
    
len(min_sal)

20

In [161]:
min_sal=min_sal[0:10]
len(min_sal)

10

# Scraping Average salary

In [162]:
title_tags=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')

len(title_tags)

10

In [163]:
avg_sal=[]
for i in title_tags:
    avg_sal.append(i.text)
    
    
len(avg_sal)

10

# Scraping Maximum salary

In [164]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="value body-medium"]')

len(title_tags)

20

In [165]:
max_sal=[]
for i in title_tags:
    max_sal.append(i.text)
    
    
len(max_sal)

20

In [166]:
max_sal=max_sal[0:10]
len(max_sal)

10

In [167]:
len(max_sal),len(avg_sal),len(min_sal),len(exp_req),len(salary_record),len(company_name)

(10, 10, 10, 10, 10, 10)

In [170]:
df=pd.DataFrame()
df['COMPANY NAME']= company_name
df['TOTAL SALARY RECORD']= salary_record
df['MINIMUM SALARY']= min_sal
df['AVERAGE SALARY']= avg_sal
df['MAXIMUM SALARY']= max_sal
df['EXPERIENCE REQUIRED ']=exp_req
df

,COMPANY NAME,TOTAL SALARY RECORD,MINIMUM SALARY,AVERAGE SALARY,MAXIMUM SALARY,EXPERIENCE REQUIRED
0,Walmart\nData Scientist Salary\n3 yrs experien...,(based on 12 salaries),₹ 25.0L,₹ 30.6L,₹ 25.0L,3 yrs experience (based on 12 salaries)
1,Ab Inbev\nData Scientist Salary\n3-4 yrs exper...,(based on 33 salaries),₹ 36.0L,₹ 20.8L,₹ 36.0L,3-4 yrs experience (based on 33 salaries)
2,ZS\nData Scientist Salary\n2 yrs experience (b...,(based on 15 salaries),₹ 15.0L,₹ 16.7L,₹ 15.0L,2 yrs experience (based on 15 salaries)
3,Optum\nData Scientist Salary\n3-4 yrs experien...,(based on 32 salaries),₹ 26.2L,₹ 15.9L,₹ 26.2L,3-4 yrs experience (based on 32 salaries)
4,Reliance Jio\nData Scientist Salary\n3-4 yrs e...,(based on 21 salaries),₹ 11.0L,₹ 15.7L,₹ 11.0L,3-4 yrs experience (based on 21 salaries)
5,Fractal Analytics\nData Scientist Salary\n2-4 ...,(based on 89 salaries),₹ 22.0L,₹ 15.5L,₹ 22.0L,2-4 yrs experience (based on 89 salaries)
6,Tiger Analytics\nData Scientist Salary\n2-4 yr...,(based on 51 salaries),₹ 11.0L,₹ 14.8L,₹ 11.0L,2-4 yrs experience (based on 51 salaries)
7,UnitedHealth\nData Scientist Salary\n2-4 yrs e...,(based on 57 salaries),₹ 22.5L,₹ 14.0L,₹ 22.5L,2-4 yrs experience (based on 57 salaries)
8,EXL Service\nData Scientist Salary\n3-4 yrs ex...,(based on 21 salaries),₹ 5.6L,₹ 13.2L,₹ 5.6L,3-4 yrs experience (based on 21 salaries)
9,Deloitte\nData Scientist Salary\n2-4 yrs exper...,(based on 69 salaries),₹ 26.2L,₹ 12.8L,₹ 26.2L,2-4 yrs experience (based on 69 salaries)